@charset "utf-8";

/* Basic */
.green { color:#2fac49; }
.red { color:#de4332; }
#tCenter { text-align:center; border:1px solid black; }
.w100 { width:100px; }

table.rowTable thead tr th,
table.rowTable tbody tr td { vertical-align:middle; }